<main>
  <div class="quiz-wrapper">
    <div id="quiz-container">
      
      <div class="progress-bar">
        <span id="timer-text">2:00</span>
        <div class="progress-fill-delay" id="timer-bar-delay"></div>
        <div class="progress-fill" id="timer-bar"></div>
      </div>
      
      <form id="quiz-form"></form>
      
      <div id="result"></div>
      
      <div class="button-container">
        <button id="reset-btn" class="boton-secundario" style="display: none;">Reiniciar</button>
      </div>
    </div>
  </div>
</main>